.container {
	display: flex;
	flex-direction: column;
	&__bulbs {
		display: flex;
	}
}

.light {
	width: 100px;
	margin: 0 auto;
	&__bulb {
		margin: 20px 10px;
		height: 80px;
		width: 80px;
		border-radius: 50%;
		background-color: rgb(0, 0, 0);
		&_active {
			background-color: rgb(255, 255, 0);
		}
	}
	&__btn {
		width: 80px;
		height: 40px;
		margin: 10px 10px;
		background-color: rgb(56, 63, 66);
		color: rgb(240, 248, 255);
	}
}