.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(207, 207, 207, 0.226);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 25px;
}


.btn-section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

