.slide {
	margin: 0 auto;
	max-width: 640px;
	&__container {
		display: none;
		&_active{
			display: block;
		}
		&__img {
			width: 100%;
			}
		&__description {
			text-align: right;
			width: 100%;
			font-size: 1rem;
		}
	}
}

.slider-back-btn {
	border: 1px solid rgb(168, 168, 168);
	width: 60px;
	height: 60px;
	padding-bottom: 15px;
	font-size: 2.5rem;
	color: rgb(206, 206, 206);
	background-color: rgba(231, 231, 231, 0.3);
}


.slider-forward-btn {
	border: 1px solid rgb(168, 168, 168);
	width: 60px;
	height: 60px;
	padding-bottom: 15px;
	font-size: 2.5rem;
	color: rgb(206, 206, 206);
	background-color: rgba(231, 231, 231, 0.3);
}