button:focus {
	outline:0;
}

.slide {
	margin: 0 auto;
	max-width: 640px;
	&__container {
		display: none;
		// display: hidden;
		// position: absolute;
		// opacity: 0; 
		&_active{
			position: relative;
			display: block;
			// opacity: 1; 
			// transition: opacity 1.5s ease-in-out;
		}
		&__img {
			width: 100%;
			}
		&__description {
			text-align: center;
			width: 100%;
			font-size: 1rem;
		}
	}
}

.slide {
	&__control{
		display: flex;
		justify-content: center;
		&_btns {
			justify-content: center;
			cursor: pointer;
			align-items: center;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			margin: 4px;
			border: 1px solid rgb(65, 64, 64);
			background-color: rgba(230, 230, 230, 0.2);
			&_active {
				background-color: rgb(78, 78, 78);
			}
			&_active:hover {
				background-color: rgb(78, 78, 78);
			}
		}
		&_btns:hover {
			background-color: rgb(230, 230, 230);
		}
		&-back-btn, &-forward-btn {
		cursor: pointer;
		border: 1px solid rgb(168, 168, 168);
		width: 60px;
		height: 60px;
		padding-bottom: 15px;
		font-size: 2.5rem;
		color: rgb(206, 206, 206);
		background-color: rgba(231, 231, 231, 0.15);
		}
		&-forward-btn {
			margin-right: auto;
		}
		&-back-btn:hover, &-forward-btn:hover {
			background-color: rgba(231, 231, 231, 0.7);
			border: 1px solid rgb(153, 153, 153);
		}
	}	
}

.comments {
	margin: 60px auto 20px auto;
	max-width: 640px;
	&__form {
		&__input{

		}
		&__submit-btn {
			margin-left: 10px;
		}
	}
	&__item {
		
	}
}

.author-name {
	font-weight: 700;
	font-size: 1.2rem;
}