$colors: 'red', 'yellow', 'green', 'aqua', 'blue';

.traffic-lighter {
  width: 60px;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 4px;
  margin: 0 auto;
  &__lamp {
    display: block;
    height: 40px;
    width: 40px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: rgb(122, 122, 122);
    outline: none;
    transition: all 0.5s;
    &_active {
      @each $color in $colors {
        &.traffic-lighter__lamp_#{$color} {
          background-color: #{$color};
        }
      }
    }
  }
}

#btn-add-lighter {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 80px;
	height: 50px;
	color: white;
	background-color: rgb(55, 145, 219);
	border: 1px solid rgb(206, 102, 238);
}

#btn-add-color {
	position: absolute;
	top: 150px;
	left: 50px;
	width: 80px;
	height: 50px;
	color: white;
	background-color: rgb(117, 116, 11);
	border: 1px solid rgb(196, 68, 9);
}