* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh; }

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  background-color: rgba(207, 207, 207, 0.226);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 200px;
  padding: 25px; }

.btn-section {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
